/* ================================
   RELOOP ABOUT PAGE CSS
================================ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Poppins',sans-serif;

    background:#fafaf7;

    color:#2b2b2b;

    line-height:1.6;

}


/* NAVBAR */

nav{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:white;

    box-shadow:0 2px 15px rgba(0,0,0,.05);

}


.logo{

    font-family:'Poppins', sans-serif;

    font-size:30px;

    font-weight:800;

    color:#2E7D32;


}


nav a{

    text-decoration:none;

    color:#444;

    margin-left:30px;

    font-weight:500;

}


nav a:hover{

    color:#2E7D32;

}


/* ABOUT HERO */


.about-section{

    text-align:center;

    padding:80px 8%;

}


.badge{

    display:inline-block;

    background:#E8F5E9;

    color:#2E7D32;

    padding:8px 18px;

    border-radius:30px;

    font-weight:600;

}


.about-section h1{

    font-size:52px;

    margin:25px 0;

    color:#2E7D32;

}


.about-section h1 span{

    color:#1B5E20;

}


.about-intro{

    max-width:700px;

    margin:auto;

    color:#666;

    font-size:18px;

}


/* CARDS */


.about-cards{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-top:50px;

    flex-wrap:wrap;

}


.about-card{

    background:white;

    width:300px;

    padding:35px 25px;

    border-radius:20px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    transition:.3s;

}


.about-card:hover{

    transform:translateY(-8px);

}


.about-card h2{

    color:#2E7D32;

    margin-bottom:15px;

    font-size:22px;

}


.about-card p{

    color:#666;

}


/* FOOTER */


footer{

    margin-top:80px;

    background:#1B5E20;

    color:white;

    text-align:center;

    padding:30px 8%;

}